<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pj.creditcardmanagement.activity" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="My Credit Cards"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreditCardListActivity"
            android:label="My Credit Cards" >
        </activity>
        <activity
            android:name=".CreditCardActivity"
            android:label="Add Credit Card" >
        </activity>
        <activity
            android:name=".TransactionListActivity"
            android:label="@string/title_activity_transaction_list" >
        </activity>
        <activity
            android:name=".TransactionActivity"
            android:label="@string/title_activity_transaction" >
        </activity>
    </application>

</manifest>
